---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Business and Consulting Club',
	description: 'Business and Consulting Club, IIT Delhi',
};
---

<!--<AnnouncementBar-->
<!--	text="Read Our Latest Blog Post"-->
<!--	href="/blog/posts/remote-work-mental-health/"-->
<!--	slot="announcement-bar"-->
<!--/>-->
<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Bridging Ideas and Impact</h1>
			<p>At Business and Consulting Club, we learn, build, and lead through real-world challenges, industry insights, and transformative experiences.</p>
		</div>
		<!--<div slot="btns-container">-->
		<!--	<Button href="/theme/get-started" customIcon-->
		<!--		>Get Started <Fragment slot="icon">-->
		<!--			<Icon name="ic:baseline-chevron-right" />-->
		<!--		</Fragment></Button-->
		<!--	>-->
		<!--</div>-->
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-hero-1.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<section class="three-column-section">
		<div class="column">
			<h2>Work</h2>
			<p>
				We host industry experts and startup founders through seminars, organize case-competitions, conduct
				interview bootcamps and provide consulting services to startups/organizations. We provide opportunities
				for skill building along with creativity, making this club an inclusive space for personal as well as collective growth.
			</p>
		</div>
		<div class="column">
			<h2>Vision</h2>
			<p>
				We aim to act as a catalyst in reducing the gap between students and the professional world by inculcating
				a problem-solving, crisis-handling and leadership-building environment. We look forward to becoming a community
				wherein people come together to pursue their interests, learn and gain insights from each other, and bring
				a positive change in the business and consulting world.
			</p>
		</div>
		<div class="column">
			<h2>Impact</h2>
			<p>
				Through our seminars, talk-shows, case competitions and workshops we equip the participants and members with
				valuable critical problem solving, communication and teamwork skills. We transform their potential into performance,
				and remain dedicated to bringing about a change in the perspective of society towards the field of business and consulting.
			</p>
		</div>
	</section>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Start Your Website Today</h2>
		<p>
			It only takes a couple clicks to have a new, modern website for your
			business or startup.
		</p>
		<Button href="/theme/get-started" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
